.starships-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #0a0b0b;
  color: #aaaaaa;
}

ul li {
  background-color: #0a0b0b;
  color: #aaaaaa;
  border: none;
}



.starship-div {
  background-color: #151515;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}
