<div class="container header-container">
  <div class="container d-flex align-items-center justify-content-center">
    <img
      src="/assets/Captura de pantalla 2023-07-11 101021.png"
      alt="starwars-logo"
    />
  </div>

  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
  >
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <svg
          class="bi"
          width="40"
          height="32"
          role="img"
          aria-label="Bootstrap"
        >
          <use xlink:href="#bootstrap" />
        </svg>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li>
        <a class="text-warning nav-item nav-link nav-links" routerLink="/"
          >Home</a
        >
      </li>
      <li>
        <a
          class="text-warning nav-item nav-link nav-links"
          routerLink="/starships"
          >Starships</a
        >
      </li>
    </ul>

    <div class="col-md-3 text-end" *ngIf="user">
      <button
        type="button"
        class="btn me-2 account-buttons text-warning"
        routerLink="/account/login"
      >
        <i class="fa-solid fa-right-to-bracket"></i>
        Login
      </button>
      <button
        type="button"
        class="text-warning btn account-buttons"
        routerLink="/account/register"
      >
        <i class="fa-solid fa-user-plus"></i>
        Sign-up
      </button>
      <button
        type="button"
        class="text-warning btn mx-2 account-buttons"
        (click)="logout()"
      >
        <i class="fa-solid fa-right-from-bracket"></i>
        Logout
      </button>
    </div>
  </header>
</div>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>
<!-- <nav
class="navbar navbar-expand-md navbar-light p-3 bg-light w-100 sticky-top"
>
<div class="container-fluid">
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
     <a class="navbar-brand" href="#"
      ><img
        src="/Recursos_projecte_sprint_2-20230213/Imagenes/logo-bookmark.svg"
        alt="bookmark logo"
    /></a>
    <ul
      class="navbar-nav d-flex justify-content-center align-items-center"
    >
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#features"
          >FEATURES</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PRICING</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CONTACT</a>
      </li>
      <a class="btn btn-primary" href="#" role="button">LOGIN</a>
    </ul>
  </div>
</div>
</nav> -->
<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Thirteenth navbar example">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
      <a class="navbar-brand col-lg-3 me-0" href="#">Centered nav</a>
      <ul class="navbar-nav col-lg-6 justify-content-lg-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-lg-flex col-lg-3 justify-content-lg-end">
        <button class="btn btn-primary">Button</button>
      </div>
    </div>
  </div>
</nav> -->
