/* You can add global styles to this file, and also import other style files */
body {
  background-color: #0a0b0b;
}

.account-buttons {
  color: #aaaaaa;
}
.account-buttons:hover {
  color: #aaaaaa;
}

.custom-color {
  color: #ffc107
}
.custom-color:hover {
  color: #fff;

}
